body{
	background-color:#fcf3c7;
}
h1{
	color: #2f8750;
	background-color: 
}

table tr, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
a{
	text-decoration: none;

}
a:link {
	color: green;
}
a:vissited {
	color: brown;
}
a:active {
	color:lightblue;
}
a: hover{
	background-color: yellow;
}
.menu{
	background-color: #d6d7d8;
	padding:10px;
	list-style-type: none;
	margin-top:2px;
}
.menu li{
	display: inline;
	padding:7px;
	margin:70px;	
}

.p1{
	background-color: lightgray.
	padding: 15px;
	border: 2px solid black;
	width: 200px;
}
header {
		background-image: url(imagens/backheader.jpg);
		padding: 2px;
}


footer {
	background-image:url(imagens/backheader.jpg);
	padding: 5px;
	clear: left;
}
/*formulário*/
input[type="text"], input[type="email"], select , textarea {
	border: 1px solid orange;
	margin: 10px 0px;
	border-radius: 15px;
	padding: 5px 20px;
	background-color: #eeeeee;
	color: darkblue; 
	font-family: monospace;
}
input[type="text"]:focus, input[type="email"]:focus, select:focus, textarea:focus{
	border: 1px solid orange;
	margin: 10px;
	background-color: #cccccc;
	font-weight: bold;
}
input[type="email"]:valid{
	color:darkblue;
}

input[type="email"]:invalid{
	color:red; 
} 
input[type="submit"]:hover, input[type="reset"]:hover{
	background-color: ccc;
	
}


.label-alinhado {
	width: 70px;
	display: inline-block;
	text-align: right;
}
fieldset {
	width: 200px;
}

/*portfolio*/
figure{
	float: left;
	width: 300px;
}
figure img{
	width: 200px;
	height: 150px;
	transition: 0.7s;
}
figure img:hover{
	box-shadow: 5px 5px 10px gray;
	transform: scale(1.2) rotate(-5deg); 
	transition: 0.7s;
}
#link {
	clear: left;
}
figure .home{
	
}